html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(37deg, rgba(2,0,36,1) 0%, rgba(80,80,185,1) 25%, rgba(54,164,101,1) 100%);
}

.container {
    border: 1px solid whitesmoke;
    border-radius: 20px;
    width: 600px;
    margin-top: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, td {
    font-family: 'Mukta', sans-serif;
}

@keyframes fade-it-out {
    from {opacity: 1}
    to {opacity: .33}
}
.completed-task {
    animation: fade-it-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#submit-btn {
    background-color: rgba(80,80,185,1);
    color: white;
    border: 0;
    height: 22px;
    border-radius: 5px;
}

h1 {
    padding: 0;
}

h2 {
    margin-top: 20px;
    margin-bottom: 0px;
}

th {
    border-bottom: 1px solid;
}

table {
    width: 100%;
    margin-bottom: 20px;
}

th {
    text-align: left;
}